<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style_log.css' %}">
    <title>Регистрация</title>
</head>
<body>
    <header>
        <h1 style="color: white;">
            <img src="{% static 'images/wistia.png' %}" height="50" alt="WISTIA"> WISTIA
        </h1>
        <nav>
            <ul>
                <li><a href="/">Главная</a></li>
                <li><a href="reg">Регистрация</a></li>
                <li><a href="wistia">Регистрация Wistia</a></li>
            </ul>
        </nav>
    </header>
    <form action="" method="post">
        {% csrf_token %}
        <div>
            <input type="text" name="name" placeholder="Ваше имя" required>
        </div>
        <div>
            <input type="email" name="email" placeholder="Ваш e-mail" required>
        </div>
        <div>
            <input type="password" name="password" placeholder="Ваш пароль" required>
        </div>
        <div>
            <input type="radio" name="a" id="s" value="yes">
            <label for="s">Конечно</label>
        </div>
        <div>
            <input type="radio" name="a" id="d" value="maybe">
            <label for="d">Может быть</label>
        </div>
        <div>
            <input type="radio" name="a" id="f" value="no">
            <label for="f">Не уверен</label>
        </div>
        <div>
            <select name="role" required>
                <option value="" disabled selected>Что-то</option>
                <option value="students">Что-то</option>
                <option value="teachers">Что-то</option>
            </select>
        </div>
        <div>
            <input type="radio" name="b" id="front" value="front">
            <label for="front">Front</label>
        </div>
        <div>
            <input type="radio" name="b" id="back" value="back">
            <label for="back">Back</label>
        </div>
        <div>
            <input type="radio" name="b" id="fullstack" value="fullstack">
            <label for="fullstack">Front-Back</label>
        </div>
        <div>
            <button class="submit-button" type="submit">Заход</button>
        </div>
    </form>
</body>
</html>
