<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style_log.css' %}">
    <title>Регистрация</title>
</head>
<body>
    <header>
        <h1 style="color: white;"> <img src="static/images/wistia.png" height="50"> WISTIA</h1>
        <nav>
            <ul>
                <li><a href="/">Главная</a></li>
                <li><a href="log">Логин</a></li>
                <li><a href="wistia">Регистрация Wistia</a></li>
            </ul>
        </nav>
    </header>
    <form action="" method="post">
        <div>
            <input type="text" name="name" placeholder="Ваше имя" required>
        </div>
        <div>
            <input type="email" name="email" placeholder="Ваше e-mail" required>
        </div>
        <div>
            <input type="tel" name="phone" placeholder="Ваш телефон" required>
        </div>
        <div>
            <input type="password" name="password" placeholder="Ваше пароль" required>
        </div>
        <div>
            <select name="role" required>
                <option value="" disabled selected>Выберите роль</option>
                <option value="students">Students</option>
                <option value="teachers">Teachers</option>
            </select>
        </div>
        <div>
            <input type="radio" name="a" id="s">
            <label for="a">Конечно</label>
        </div>
        <div>
            <input type="radio" name="a" id="d">
            <label for="a">Может быть</label>
        </div>
        <div>
            <input type="radio" name="a" id="f">
            <label for="a">Не уверен</label>
        </div>
        <div>
            <select name="role" required>
                <option value="" disabled selected>Что-то</option>
                <option value="students">Что-то</option>
                <option value="teachers">Что-то</option>
            </select>
        </div>
        <div>
            <input type="radio" name="a" id="a">
            <label for="a">Front</label>
        </div>
        <div>
            <input type="radio" name="a" id="c">
            <label for="a">Back</label>
        </div>
        <div>
            <input type="radio" name="a" id="b">
            <label for="a">Front-Back</label>
        </div>
        <div>
            <button class="submit-button" type="submit">Регистрация</button>
        </div>
    </form>
</body>
</html>
