<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style_log.css' %}">
    <title>Sign Up</title>
</head>
<body>
    <header>
        <div class="logo">
            <h1 style="color: white;"> <img src="static/images/wistia.png" height="50"> WISTIA</h1>
        </div>
        <nav>
            <ul>
                <li><a href="/">Главная</a></li>
                <li><a href="login">Логин</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="signup-message">
            <h1 style="center">Зарегистрируйте бесплатную учетную запись Wistia</h1>
            <p style="center">Используйте Wistia и все ее функции бесплатно, навсегда!</p>
        </div>
        <form action="" method="post">
            <div class="name">
                <input type="text" placeholder="Имя">
            </div>
            <div class="name">
                <input type="text" placeholder="Фамилия">
            </div>

            <div class="email">
                <input type="email" placeholder="Ваша e-mail почта">
            </div>
            <div class="password">
                <input type="password" placeholder="Пароль">
            </div>
            <div>
                <select name="select" class="select-button">
                    <option value="" selected disabled hidden>Как вы впервые услышали о Wistia?</option>
                    <option value="value1">чето 1</option>
                    <option value="value2">чето 2</option>
                </select>
            </div>
            <div class="submit">
                <input class="submit-button" type="submit" value="Создать аккаунт">
            </div>
        </form>
    </main>
</body>
</html>